.preview-image {
  height: 100%;
  width: 100%;
}

.other-images {
  display: flex;
}

.other-image {
  margin-right: 10px;
}

.image-delete-button {
  text-align: center;
  border: solid 1px;
  cursor: pointer;
}

.main-image {
  height: 100%;
  width: 100%;
}

