.preview-image {
  height: 33vh;
  width: 33vw;
  object-fit: contain;
}

.image-delete-button {
  min-width: 250px;
  text-align: center;
  border: solid 1px;
  cursor: pointer;
}

.items-scroll{
  display: flex;
  flex-wrap: wrap;
}
.items-scroll img {
  height:  33vh;
  width: 33vw;
  display:block;
  margin:0 auto;
}